<% include header %>
<div class="container">

  <h2>Found a good deal ? Check it out</h2>
  <form action="/" method="post" class="search">

      <input name="link" id="link" type="search" placeholder="Enter the link">
      <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>

  </form>
</div>


  <% if(locals.error) { %>
    <div class="msg">
    <span class="negative"><%= error %></span>

</div>
    <% } else if (locals.result) { %>
      <div class="msg">

        <%  if(result.indexOf("+") == -1) { %>

            <span class="negative"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } else { %>

            <span class="positive"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } %>
        </div>
      <% }%>
<% include footer %>
