<% include header %>
<<<<<<< HEAD
<div class="container">
=======
<div class="popup" onclick="myFunction()">Click me!
  <span class="popuptext" id="myPopup">How does it work ?</span>
</div>
<div class="wrap">
>>>>>>> fadb9f09911c10bb174e66d8d36818c37facb597

  <h2>Found a good deal ? Check it out</h2>
  <form action="/" method="post" class="search">

      <input name="link" id="link" type="search" placeholder="Enter the link">
      <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>

  </form>
</div>


  <% if(locals.error) { %>
<<<<<<< HEAD
    <div class="msg">
    <span class="negative"><%= error %></span>
=======
    <script>toast("<%= error %>", "center", 3000, 'error');</script>
>>>>>>> fadb9f09911c10bb174e66d8d36818c37facb597

</div>
    <% } else if (locals.result) { %>
      <div class="msg">

        <%  if(result.indexOf("+") == -1) { %>

            <span class="negative"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } else { %>

            <span class="positive"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } %>
        </div>
      <% }%>
<% include footer %>
