<% include header %>
<div class="container">
<div class="popup" onclick="openPopUp()">How does it work ?
  <span class="popuptext" id="myPopup">Just take a Url (valid please), and then enter into the search bar to see the best deal ever</span>
</div>
<div class="wrap">

  <h2>Found a good deal ? Check it out</h2>
  <form action="/" method="post" class="search">

      <input name="link" id="link" type="search" placeholder="Enter the link">
      <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>

  </form>
</div>


  <% if(locals.error) { %>
    <script>toast("<%= error %>", "center", 3000, 'error');</script>

    <% } else if (locals.result) { %>
      <div class="msg">
        <div class="msg-header">
          Result:
        </div>
        <%  if(result.indexOf("+") == -1) { %>

            <span class="negative"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } else { %>

            <span class="positive"><%= result %></span></br></br>
              <%= propPrice %></br><%= avPrice %>

          <% } %>
        </div>
      <% }%>
<% include footer %>
